.carouseldiv{
    background-image: url("https://www.revv.co.in/assets/RentalImages/HomeScreen/heroCarousel/ST_BG_1.png");
    width: 1519px;
    height: 580px;
    position: relative;
    top: -410px ;
    left: 0px;
    background: transparent;
    width: 40rem;
    float: right;
}
